*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Debug logs
debug/
debug/archive_*.logcat
debug/*.log
debug/*.logcat
debug/*.db*
debug/*.preferences_pb
debug/*.sql
.auto-log.pid
/dist
/release.jks
